body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    flex: 1;
}

ul {
    list-style-type: none;
    justify-content: flex-end;
    font-size: 12px;
    color: #b6b6b6;
}

button,
.button1 {
    background: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 8px 26px 8px 26px;
    
    border: #3882F6;
    /* width: 100px; */
}

.button1 {
    border: white solid;
    border-width: 1px;
}

.header {
    display: flex;
    justify-content: space-around;
    background: #1F2937;
    color: #F9FAF8;
    align-items: center;
    padding: 6px;
    margin: 0;
}

.title1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.title2 {
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.right-list {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    font-size: 18px;
}

.first-part {
    display: flex;

    justify-content: center;
    background: #1F2937;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 60px;
    flex-wrap: wrap;
   
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
    width: auto;
    flex: 1;
    padding: 0;
    margin-right: 29px;
    
}

.right {
    display: flex;
    justify-content: flex-end;
flex: 1;
    
    align-items: center;
}

#panel {
    display: flex;
    width: 450px;
    height: auto;
    border: rgb(255, 255, 255) solid;
    
    padding: 18px;
    border-radius: 10px;
    border-width: 2px;
    object-fit: cover;
    max-width: 100%;
    
}

.text1 {
    color: rgb(219, 219, 219);
    font-weight: 100;
}

.second {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 28px;
}

.title3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 30px;
    margin: 20px;
}

.square {
    width: auto;
    height: 200px;
    border-radius: 20px;
}

.text2 {
    display: flex;
    justify-content: center;
    color: rgb(180, 180, 180);
    margin-top: 8px;
}

.third {
    display: flex;
    
    flex: 1;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 80px 110px 80px 110px;
}

p {
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #797e85;
    font-weight: 100;

}

.quote {
    margin-top: -30px;
    font-weight: bold;
    font-size: 18px;
    margin-left: auto;
    color: rgb(80, 73, 73);
}

.container {
    display: flex;
    padding: 100px 120px 100px 120px;
    justify-content: center;
    align-items: center;
    
}

.fourth {
    display: flex;
    background: #3882F6;
    color: white;
    padding: 40px;
    
    
    justify-content: center;
    align-items: center;
    gap: 80px;
    min-width: 200px;
    
    flex: 1;
   
}

.left2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 0px;
   
}

.right2 {
    display: flex;
    justify-content: flex-end;
 
}

.title4 {
    font-size: 18px;
    font-weight: bold;

}

.footer {
    background-color: #1F2937 ;
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 12px;
    font-weight: 100;
    align-items: flex-end;
}


