body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    flex: 1;
}

ul {
    list-style-type: none;
    justify-content: flex-end;
    font-size: 12px;
    color: #b6b6b6;
}

button,
.button1 {
    background: #3882F6;
    color: white;
    border-radius: 15px;
    padding: 8px 26px 8px 26px;
    margin-top: 8px;
}

.button1 {
    border: white solid;
}

.header {
    display: flex;
    justify-content: space-around;
    background: #1F2937;
    color: #F9FAF8;
    align-items: center;
    padding: 6px;
    margin: 0;
}

.title1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.title2 {
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.right-list {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    font-size: 18px;
}

.first-part {
    display: flex;
    justify-content: space-around;
    background: #1F2937;
    align-items: center;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 48px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
  
}

.right {
    display: flex;
    justify-content: flex-end;
}

#panel {
    width: 400px;
    height: auto;
}

.text1 {
    color: rgb(219, 219, 219);
    font-weight: 100;
}

.second {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 28px;
}

.title3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 30px;
    margin: 20px;
}

.square {
    width: auto;
    height: 200px;
    border-radius: 20px;
}

.text2 {
    display: flex;
    justify-content: center;
    color: rgb(180, 180, 180);
    margin-top: 8px;
}

.third {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}






